/* App.css (src) */

* {
  /* margin: 0; */
  /* padding: 0; */
}

#root {
  text-align: center;
  margin-top: 50px;
}

ul {
  margin-top: 20px;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

input {
  margin-top: 15px;
  margin-right: 4px;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
}


.orange {
  color: orange;
}

.red {
  color: red;
}

.container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.banner {
  background-color: orange;
  font-size: 2rem;
  margin-bottom: 20px;
}

.banner ~ div {
  margin-bottom: 12px;
}

.total {
  font-size: 15pt;
}

.number {
  display: block; 
  padding-left: 10px;
  font-size: 30pt;
}

.button {
  margin-left: 15px;
  padding: 8px 12px;
  border: 1px solid lightblue;
  border-radius: 5px;
  background-color: rgb(54, 94, 161);
  color: #fff;
}

.profile_container {
  display: flex;
  justify-content: center;
}

.profile {
  position: relative;
  width: 200px;
  padding: 1rem;
  margin: 0 20px 10px 0;
  background-color: #ebebeb;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 5px 10px 32px -3px rgba(0,0,0,0.27);
  -webkit-box-shadow: 5px 10px 32px -3px rgba(0,0,0,0.27);  
  -moz-box-shadow: 5px 10px 32px -3px rgba(0,0,0,0.27);
}

.new {
  position: absolute;
  top: 30px;
  left:75%;
  padding: 5px;
  font-size: 0.8rem;
  background-color: dodgerblue;
  color: #fff;
  border-radius: 5px;
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

h1 {
  margin: 20px 0 3px 0;
  font-size: 1rem;
}

p {
  margin-top: 0;
  font-size: 0.9rem;
}

